@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

html {
  background-image: linear-gradient(
    top to bottom,
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 1)
  );
}

body {
  font-family: "Amatic SC", cursive;
  color: white;
  background-color: black;
  font-size:25px;
}

h1 {
  background-color: black;
  border: solid 10px black;
  color: #d9d9d9;
  text-shadow: 4px 1px 8px pink;
  font-size:45px;
}
h2 {
  background-color: black;
  border: solid 10px black;
  color: #d9d9d9;
  text-shadow: 4px 1px 8px pink;
  ont-size:30px;
}
p {
  background-color: black;
  border: solid 10px black;
  color: #d9d9d9;
  text-shadow: 4px 1px 8px pink;
}

.title {
  text-align: center;
  margin: 5%;
  background-color: black;
}

.nextbutton {
  color: blue;
  text-align: right;
  margin: 5%;
  background-color: black;
}

.star1 {
  position: absolute;
  background-color: white;
  width: 5px;
  height: 5px;
  left: 150px;
  top: 450px;
  box-shadow: 2px 2px 10px 3px pink;
  transform: rotate(45deg);
  animation-name: starfadeout;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}
.star2 {
  position: absolute;
  background-color: white;
  width: 5px;
  height: 5px;
  left: 25px;
  top: 100px;
  box-shadow: 2px 2px 10px 3px pink;
  transform: rotate(45deg);
  animation-name: starfadeout;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}
.star3 {
  position: absolute;
  background-color: white;
  width: 5px;
  height: 5px;
  left: 350px;
  top: 100px;
  box-shadow: 2px 2px 10px 3px pink;
  transform: rotate(45deg);
  animation-name: starfadeout;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}
.star4 {
  position: absolute;
  background-color: white;
  width: 5px;
  height: 5px;
  left: 980px;
  top: 40px;
  box-shadow: 2px 2px 10px 3px pink;
  transform: rotate(45deg);
  animation-name: starfadeout;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}
.star5 {
  position: absolute;
  background-color: white;
  width: 5px;
  height: 5px;
  left: 500px;
  top: 36px;
  box-shadow: 2px 2px 10px 3px pink;
  transform: rotate(45deg);
  animation-name: starfadeout;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}
.star6 {
  position: absolute;
  background-color: white;
  width: 5px;
  height: 5px;
  left: 150px;
  top: 25px;
  box-shadow: 2px 2px 10px 3px pink;
  transform: rotate(45deg);
  animation-name: starfadeout;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}
.star7 {
  position: absolute;
  background-color: white;
  width: 5px;
  height: 5px;
  left: 750px;
  top: 200px;
  box-shadow: 2px 2px 10px 3px pink;
  transform: rotate(45deg);
  animation-name: starfadeout;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}
.star8 {
  position: absolute;
  background-color: white;
  width: 5px;
  height: 5px;
  left: 50px;
  top: 320px;
  box-shadow: 2px 2px 10px 3px pink;
  transform: rotate(45deg);
  animation-name: starfadeout;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}
.star9 {
  position: absolute;
  background-color: white;
  width: 5px;
  height: 5px;
  left: 650px;
  top: 420px;
  box-shadow: 2px 2px 10px 3px pink;
  transform: rotate(45deg);
  animation-name: starfadeout;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}
.star10 {
  position: absolute;
  background-color: white;
  width: 5px;
  height: 5px;
  left: 1200px;
  top: 620px;
  box-shadow: 2px 2px 10px 3px pink;
  transform: rotate(45deg);
  animation-name: starfadeout;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}

.star11 {
  position: absolute;
  background-color: white;
  width: 5px;
  height: 5px;
  left: 1050px;
  top: 380px;
  box-shadow: 2px 2px 10px 3px pink;
  transform: rotate(45deg);
  animation-name: starfadeout;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}

.star12 {
  position: absolute;
  background-color: white;
  width: 5px;
  height: 5px;
  left: 1650px;
  top: 20px;
  box-shadow: 2px 2px 10px 3px pink;
  transform: rotate(45deg);
  animation-name: starfadeout;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}
.star13 {
  position: absolute;
  background-color: white;
  width: 5px;
  height: 5px;
  left: 1500px;
  top: 520px;
  box-shadow: 2px 2px 10px 3px pink;
  transform: rotate(45deg);
  animation-name: starfadeout;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}
.star14 {
  position: absolute;
  background-color: white;
  width: 5px;
  height: 5px;
  left: 980px;
  top: 180px;
  box-shadow: 2px 2px 10px 3px pink;
  transform: rotate(45deg);
  animation-name: starfadeout;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}
.star15 {
  position: absolute;
  background-color: white;
  width: 5px;
  height: 5px;
  left: 750px;
  top: 20px;
  box-shadow: 2px 2px 10px 3px pink;
  transform: rotate(45deg);
  animation-name: starfadeout;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}

@keyframes starfadeout {
  100% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  0% {
    opacity: 0.1;
  }
}

.sunformation {
  height: 350px;
  width: 350px;
  margin: 2% auto;
  background-color: rgb(255, 219, 77);
  box-shadow: 2px 2px 10px 15px rgb(255, 245, 204);
  border-radius: 60%;
  animation-name: asteriodstretch;
}

.asteriodformation {
  height: 350px;
  width: 350px;
  margin: 5% auto;
  background-color: red;
  box-shadow: 2px 2px 10px 15px pink;
  border-radius: 60%;
  animation-name: asteriodstretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes asteriodstretch {
  0% {
    transform: scale(40%);
    background-color: rgb(255, 102, 0);
    border-radius: 50%;
  }
  50% {
    background-color: rgb(255, 191, 0);
  }
  100% {
    transform: scale(13%);
    background-color: red;
  }
}

.cometformation {
  height: 350px;
  width: 350px;
  margin: 5% auto;
  background-color: blue;
  box-shadow: 2px 2px 10px 15px pink;
  border-radius: 60%;
  animation-name: cometstretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes cometstretch {
  0% {
    transform: scale(40%);
    background-color: blue;
    border-radius: 50%;
  }
  50% {
    background-color: 	rgb(153, 179, 255);
  }
  100% {
    transform: scale(13%);
    background-color: rgb(83, 26, 255);
  }
}

.comet1 {
  margin: 25%;
  position: absolute;
  border: 5px solid #67737B;
  background-image: linear-gradient(to right, #ACC0CD,#67737B);
  width: 150px;
  height: 150px;
  border-top-right-radius: 30%;
  border-top-left-radius: 45%;
  border-bottom-left-radius: 20.5%;
  border-bottom-right-radius: 60%;
  transform: rotate(33deg);
  left: 150px;
  top: 20px;
  animation-name: comet1;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes comet1 {
  animation-direction: alternate;
  0% {
    top: 20px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: 20px;
  }
}

.skygradient {
  position: static;
  margin: 3.5%;
  background-image: linear-gradient(black, purple, blue, white);
  width: 1600px;
  height: 60000px;
}

.comet4 {
  margin: 25%;
  sclae: 5%;
  position: absolute;
  border: 5px solid #67737B;
  background-image: linear-gradient(to right, #ACC0CD,#67737B);
  width: 150px;
  height: 150px;
  box-shadow: 2px 2px 10px 3px orange;
  border-top-right-radius: 30%;
  border-top-left-radius: 45%;
  border-bottom-left-radius: 20.5%;
  border-bottom-right-radius: 60%;
  transform: rotate(33deg);
  left: 150px;
  top: 20px;
  animation-name: comet4;
  animation-delay: 4s;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
@keyframes comet4 {
  animation-direction: alternate;
  from {
    top: 20px;
  }
  to {
    top: 6000px;
  }
}
.galaxy {
  position: fixed;
  background-color: blue;
  width: 125px;
  height: 425px;
  border-radius: 55%;
  left: 525px;
  top: 1220px;
  box-shadow: 2px 2px 10px 3px pink;
  transform: rotate(45deg);
}
.planet1 {
  position: absolute;
  background-color: blue;
  width: 425px;
  height: 425px;
  border-radius: 55%;
  left: 1px;
  top: 6000px;
  box-shadow: 2px 2px 10px 3px pink;
  transform: rotate(3deg);
}

.planet2 {
  position: absolute;
  background-color: yellow;
  width: 425px;
  height: 425px;
  border-radius: 55%;
  left: 5px;
  top: 7700px;
  box-shadow: 2px 2px 10px 3px pink;
  transform: rotate(3deg);
}
.planetb {
  position: absolute;
  background-color: yellow;
  width: 425px;
  height: 425px;
  border-radius: 55%;
  left: 5px;
  top: 7700px;
  box-shadow: 2px 2px 10px 3px pink;
  transform: rotate(3deg);
}
.planetr {
  position: absolute;
  background-color: blue;
  width: 425px;
  height: 425px;
  border-radius: 55%;
  left: 1px;
  top: 6000px;
  box-shadow: 2px 2px 10px 3px pink;
  transform: rotate(3deg);
}
.asteriods {
  position: absolute;
  background-color: blue;
  width: 425px;
  height: 425px;
  border-radius: 55%;
  left: 1px;
  top: 6000px;
  box-shadow: 2px 2px 10px 3px pink;
  transform: rotate(3deg);
}

