@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

body {
  background-color: black;
  font-family: "Amatic SC", cursive;
  color: white;
}

.comet1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
  animation-name: comet1;
  animation-duration: 10s;
}
@keyframes comet1 {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
