@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

html {
  background-image: linear-gradient(
    top to bottom,
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 1)
  );
}
body {
  font-family: "Amatic SC", cursive;
  color: white;
}
.indexcontainer1 {
  position: absolute;
  background-color: blue;
  width: 300px;
  height: 300px;
  left: 50px;
  height: 500px;
}

.comet1 {
  position: absolute;
  background-color: red;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-top-left-radius: 37.6%;
  border-bottom-right-radius: -13px;
  transform: rotate(2deg);
  left: 0px;
  top: 0px;
  animation-name: comet1;
  animation-delay: 12s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes comet1 {
  animation-direction: alternate;
  from {
    left: 0px;
  }
  to {
    left: 100px;
  }
}
